/* main */
.main-header {
  color: #FFF;
}

.main-header .main-title {
  font-size: 40px;
  font-weight: 700;
  margin: 50px 0 30px 50px;
}

.main-header .main-sub-title {
  margin-left: 50px;
}

.main-header .main-button {
  margin: 100px 0 0 100px;
}

.main-header .main-button a {
  text-decoration: none;
  font-weight: 700;
  color:#E42929;
  background-color: #fff;
  padding: 15px 25px;
  border: none;
}