/* login form */
.login-form {
  width: 280px;
  height: 420px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 40px 30px;
  /* opacity: .3; */
}

.login-form .login-form-title {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  color: #8cB0DF;
  font-weight: 600;
}

.login-form .login-form-value input{
  width: 100%;
  padding: 5px 0 5px 20px;
  border: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 5px;
}

.login-form .login-form-value input:focus {
  outline: none;
}

.login-form-value {
  position: relative;
}

.login-form-value img {
  position: absolute;
  top: 2px;
  opacity: .5;
}

.remember-pass span {
  font-size: 11px;
  padding-left: 10px;
}

.login-form-button {
  margin: 40px 0 10px 0;
  padding: 5px;
  width: 100%;
  font-size: 18px;
  border: none;
  background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
}

.login-form .error-message {
  font-size: 12px;
  color: red;
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: .7;
}

.login-form-footer {
  font-size: 14px;
}